.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
    align-items: center;
  flex-wrap: nowrap;
}

.content div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.about h1 {
  white-space: nowrap;
  margin-bottom: 0;
}

.about p {
  margin-top: 0;
  display: inline-block;
}

@media (max-width: 610px) {
  .about h1 {
    margin-bottom: 1rem;
  }
  .content {
    margin-bottom: 1rem;
      flex-direction: column;
    align-items: flex-start;
    position: relative;
    }
    
    .content img {
      position: absolute;
      top: -82px;
      right: 0;
    }

  .content div {
    margin-bottom: 1rem
  }
}