html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  background: #162233;
  line-height: 1.3;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#__next {
  position: relative;
  height: 100%; 
  width: 100%;
  overflow: hidden;
}
