html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  background: #162233;
  line-height: 1.3;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#__next {
  position: relative;
  height: 100%; 
  width: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #dd4814;
  text-decoration: none;
  background-image: linear-gradient(120deg, #000 0%, #000 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  display: inline-block;
  margin: 0;
}

p{
  display: block;
  clear: both;
  overflow: hidden;
}

.hello-there img {
  float: left;
}

.hello-there img {
  float: left;
}

a {
  color: #dd4814;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: #dd4814;
  text-decoration: none;
  background-image: linear-gradient(120deg, #000 0%, #000 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
} 
