.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.main section>div :last-child {
  margin-bottom: 0;
}

.hello-there img {
  float: left;
  margin-right: 1em;
}

.main section h1 {
  font-size: 1.8em;
  margin-top: 0;
  height: 48px;
  line-height: 48px;
}

.main section h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.main section h3 {
  font-size: 1.3em;
  margin-top: 0;
}

.main section h4 {
  font-size: 1.1em;
  margin-top: 0;
}

.logos{
  height: 100%;
  width: auto;
  opacity: 0.6;
}

.logos svg{
  height: 100%;
  width: auto;
}

@media (max-width: 770px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }

  .main {
    font-size: 90%;
  }
}

@media (max-width: 610px) {}

@media (max-width: 390px) {}