.container {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  overflow: visible;
}

@media (max-width: 900px) {
  .container {
    max-width: 100%;
    margin: 0;
  }
}
