.poaps {
  width: 100%;
}

.poaps p {
  margin-top: 0;
}

.content div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 1rem;
  box-sizing: content-box;
  overflow: visible;
}

.content a {
  position: relative;
  display: inline-block;
  color: #fff;
  background: #2b323b;
  border-radius: 50%;
  font-size: 0;
  width: 100px;
  height: auto;
}

.content a span {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 140%;
  margin-left: -20%;
  margin-top: 1rem;
  font-size: 0.5rem;
  text-align: center;
}

/* .content a:hover span {
  display: block;
} */

.content a img {
  width: 100%;
  height: auto;
}

.content a:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 900px) {
  .content a {
    width: 60px;
    height: 60px;
  }

  .content {
    margin: 0 -1rem;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .content div {
    display: inline-flex;
    padding: 0 1rem;
  }

}

@media (max-height: 620px) {
  .content a:hover span {
    display: none;
  }
}