.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  /* color: #0c5e84; */
    color: #fff;
}

.button:hover {
  color: #fff;
}