.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* color: #0c5e84; */
}

/* .button:hover{
  color: #fff;
} */

.button:hover svg{
  transition: transform 0.3s ease-in-out;
}

.button:hover svg {
  transform: scale(1.1) 
}