.skills ul {
  margin-top: 0;
  padding-left: 1rem
}

.skills li {
  margin-bottom: 0.5rem;
  position: relative;
  display: list-item;
}

@media (max-width: 900px) {
  .skills {
    /* align-self: flex-start; */
    padding-top: 1rem;
  }
}

@media (max-height: 300px) {
  .content div {
    display: none;
  }

  .avatar {
    margin: 0 auto;
  }
}