/* .skills {} */

.skills ul {
  margin-top: 0;
  /* list-style: none; */
  padding-left: 1rem
}

.skills li {
  margin-bottom: 0.5rem;
  position: relative;
  display: list-item;
}

/* .skills li::before {
  content: '';
  display: block;
  background: #161b22;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 20px;
  z-index: -1;
} */

/* 
.skills li::after {
  content: '';
  display: block;
  background: #fff;
  width: 7px;
  position: absolute;
  height: 7px;
  top: 5px;
  left: -20px;
  border-radius: 20px;
  z-index: 1;
}
 */

@media (max-height: 300px) {
   .content div{
    display: none;
   }

   .avatar {
    margin: 0 auto;
   }
}